{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-white border-bottom mb-5">CONTACT Me</h1>
    <div class="row text-white mb-5">
        <p class="text-center mb-3">
            Do you have any question? Please do not hesitate to contact.
            I will come back to you within a matter of hours to help you
        </p>
        <div class="col-sm-9 mb-3">
            <form action="">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Your Name</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="form-group mb-3">
                        <label for="inputSubject">Subject</label>
                        <input type="text" class="form-control" id="inputSubject">
                    </div>
                    <div class="mb-3">
                        <label for="inputTextarea">Your Message</label>
                         <textarea class="form-control" id="inputTextarea"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-xl i-colo mt-3"></i>
                    <p>Uttara, Dhaka, Bangladesh</p>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-xl i-colo"></i>
                    <p>+8801996-408492</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-xl i-colo"></i>
                    <p>kawserahmed8492@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center mb-5">
    <a href="https://twitter.com/MdKawse48310508" target="_blank"><i class="fab fa-twitter i-colo fa-xl me-3"></i></a>
    <a href="https://www.linkedin.com/in/kawserahmed2917/" target="_blank"><i class="fa-brands fa-linkedin i-colo fa-xl me-3"></i></a>
    <a href="https://www.facebook.com/md.kawser.ahmed.2917" target="_blank"><i class="fa-brands fa-facebook i-colo fa-xl me-3"></i></a>
    <a href="https://github.com/kawser2917" target="_blank"><i class="fa-brands fa-github i-colo fa-xl"></i></a>
</div>
{% endblock content %}